.poster_2 {
  background-color: #959492;
  
  -webkit-transform:rotateX(-30deg)  rotateZ(180deg) rotateY(180deg) translateZ(231px);
     -moz-transform:rotateX(-30deg)  rotateZ(180deg) rotateY(180deg) translateZ(231px);
      -ms-transform:rotateX(-30deg)  rotateZ(180deg) rotateY(180deg) translateZ(231px);
       -o-transform:rotateX(-30deg)  rotateZ(180deg) rotateY(180deg) translateZ(231px);
          transform:rotateX(-30deg)  rotateZ(180deg) rotateY(180deg) translateZ(231px);
}

.poster_2 p {
  line-height: 12px;
}

.poster_2 .text {
  margin-left: -208px;
  top: -332px;
}

.poster_2 .content {
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.poster_2 .info_primary {
  top: 134px;
  margin-left: 19px;
}

.poster_2 .info_primary {
  top: 134px;
  margin-left: 8px;
}

.poster_2 .info_secondary {
  top: 57px;
  left: 11px;
}

.poster_2 .info_secondary li {
  margin-bottom: 13px;
}

.square {
  width: 580px;
  height: 580px;
  background-color: #fef7ea;
  position: relative;
  top: 9px;
  left: 14px;
  overflow: hidden;
}

.blip {
  width: 15px;
  height: 15px;
  position: absolute;
  
}

.blip_black {
  background-color: black;
}

.blip_blue {
  background-color: #244b74;
}

.blip_red {
  background-color: #e12931;
}

.blip_yellow {
  background-color: #fca45d;
}

.blip:nth-child(-n+4) {
  top: 300px;
}

.blip:nth-child(n+5) {
  top: 380px;
}

.blip:nth-child(n+13) {
  top: 435px;
}

.blip:nth-child(1) {
  left: 117px;
}

.blip:nth-child(2) {
  left: 188px;
}

.blip:nth-child(3) {
  left: 203px;
}

.blip:nth-child(4) {
  left: 275px;
}

.blip:nth-child(5) {
  left: 42px;
}

.blip:nth-child(6) {
  left: 103px;
}

.blip:nth-child(7) {
  left: 118px;
}

.blip:nth-child(8) {
  left: 171px;
}

.blip:nth-child(9) {
  left: 301px;
}

.blip:nth-child(10) {
  left: 403px;
}

.blip:nth-child(11) {
  left: 418px;
}

.blip:nth-child(12) {
  left: 532px;
}

.blip:nth-child(13) {
  left: 115px;
}

.blip:nth-child(14) {
  left: 187px;
}

.blip:nth-child(15) {
  left: 202px;
}

.blip:nth-child(16) {
  left: 272px;
}