* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 1280px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: black;
}

p {
 margin: 0;
}

ul {
 padding: 0;
 margin: 0;
 list-style-type: none;
}

.bg_2 {
  background: #d3c289; /* Old browsers */
  background: -moz-linear-gradient(45deg,  hsla(46,45%,68%,1) 20%, hsla(47,56%,63%,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(20%,hsla(46,45%,68%,1)), color-stop(100%,hsla(47,56%,63%,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  hsla(46,45%,68%,1) 20%,hsla(47,56%,63%,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  hsla(46,45%,68%,1) 20%,hsla(47,56%,63%,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  hsla(46,45%,68%,1) 20%,hsla(47,56%,63%,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  hsla(46,45%,68%,1) 20%,hsla(47,56%,63%,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3c289', endColorstr='#d6be6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg_1 {
  background: #abb8c6; /* Old browsers */
  background: -moz-linear-gradient(45deg,  hsla(211,19%,73%,1) 20%, hsla(208,21%,45%,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(20%,hsla(211,19%,73%,1)), color-stop(100%,hsla(208,21%,45%,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  hsla(211,19%,73%,1) 20%,hsla(208,21%,45%,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  hsla(211,19%,73%,1) 20%,hsla(208,21%,45%,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  hsla(211,19%,73%,1) 20%,hsla(208,21%,45%,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  hsla(211,19%,73%,1) 20%,hsla(208,21%,45%,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abb8c6', endColorstr='#5a7389',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg_3 {
  background: #c19c78; /* Old browsers */
  background: -moz-linear-gradient(45deg,  hsla(30,37%,62%,1) 20%, hsla(30,51%,43%,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(20%,hsla(30,37%,62%,1)), color-stop(100%,hsla(30,51%,43%,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  hsla(30,37%,62%,1) 20%,hsla(30,51%,43%,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  hsla(30,37%,62%,1) 20%,hsla(30,51%,43%,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  hsla(30,37%,62%,1) 20%,hsla(30,51%,43%,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  hsla(30,37%,62%,1) 20%,hsla(30,51%,43%,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c78', endColorstr='#a56e36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* ----------------------- SIDEBAR --------------------------- */

.sidebar {
  float:left;
  width: 384px;
  height: 100%;
  background-color: #fcf5e7;
  -webkit-box-shadow:4px 0px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:4px 0px 8px rgba(0, 0, 0, 0.2);
  box-shadow:4px 0px 8px rgba(0, 0, 0, 0.2);
}

.sidebar .front-matter {
  padding: 20px;
}

.sidebar p {
  margin-bottom: 12px;
}

.sidebar .title {
  padding-bottom: 10px;
  border-bottom: black 8px solid;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
}

.sidebar .summary {
  font-size: 14px;
  line-height: 22px;
}

.sidebar .nav {
  margin-top: 50px;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
}

.sidebar .nav li {
  padding: 7px 0;
  border-top: black 3px solid;
  text-align: center;
  cursor: pointer;
}

.sidebar .nav li:last-child {
  border-bottom: black 3px solid;
}
.sidebar .nav li:nth-child(1):hover, .sidebar .nav li:nth-child(1):active {
  background-color: #6F8091;
}

.sidebar .nav li:nth-child(2):hover, .sidebar .nav li:nth-child(2):active {
  background-color: #D5C077;
}

.sidebar .nav li:nth-child(3):hover, .sidebar .nav li:nth-child(3):active {
  background-color: #BB9268;
  border-top: black 3px solid;
}


/* ----------------------- MAIN --------------------------- */

.main {
  width: 69%;
  float: left;
  padding-top: 100px;
}

.camera {
  margin: 0 auto;
  width: 565px;
  height: 800px;
}

.triangle {
position:relative;

-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;

-webkit-transform-origin:50% 400px;
   -moz-transform-origin:50% 400px;
    -ms-transform-origin:50% 400px;
     -o-transform-origin:50% 400px;
        transform-origin:50% 400px;

-webkit-transform:rotateX(-30deg);
   -moz-transform:rotateX(-30deg);
    -ms-transform:rotateX(-30deg);
     -o-transform:rotateX(-30deg);
        transform:rotateX(-30deg);
}

/* ----------------------- POSTER --------------------------- */

.poster {
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  width: 565px;
  height: 800px;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
}

.poster ul {
 float: left;
 position: relative;
}

.poster .text {
  position: relative;
  margin-left: 15px;
  top: -250px;
}

.poster .first_names li {
  line-height: 27px;
}

/* ----------------------- CONTROLS --------------------------- */

.controls {
  font-size: 16px;
  padding: 30px 20px 20px 20px;
  margin-top: 50px;
  border-top: 5px solid black;
}

.control {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
}

.icon-wrapper {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: right;
}

.icon {
  font-size: 18px;
}

.icon-reverse, .icon-play {
  font-size: 14px;
}

.icon-pause, .icon-stop, .icon-replay {
  font-size: 13px;
}
