.sidebar
  .front-matter
    p.title Müller-Brockmann Loves his Greensock(s).
    p.summary
      | An visual exploration of the GreenSock Animation Platform (GSAP) using three iconic posters from the Swiss Magician: Josef Müller-Brockmann.

  ul.nav
    li
      a.btn.active href="#" Plakat Eins
    li
      a.btn href="#" Plakat Zwei
    li
      a.btn href="#" Plakat Drei

  .controls
    .control.replay
      span.icon-wrapper
        span.icon.icon-replay
      span Replay

    .control.doubleReverse
      span.icon-wrapper
        span.icon.icon-fast-reverse
      span Fast Reverse

    .control.reverse
      span.icon-wrapper
        span.icon.icon-reverse
      span Reverse

    .control.pause
      span.icon-wrapper
        span.icon.icon-pause
      span Pause

    .control.stop
      span.icon-wrapper
        span.icon.icon-stop
      span Stop

    .control.play
      span.icon-wrapper
        span.icon.icon-play
      span Play

    .control.doublePlay
      span.icon-wrapper
        span.icon.icon-fast-play
      span Fast Play


.main
  .camera
    .triangle
      .poster.poster_1
        .graphics
          .bar.bar_1
          .bar.bar_2
          .bar.bar_3
          .bar.bar_4
          .bar.bar_5

        .text
          ul.first_names
            li carl
            li maria
            li katharina
            li josef
            li otto

          ul.last_names
            li schuricht
            li stader
            li marti
            li traxel
            li von rohr
            li beethoven
            li neunte sinfonie

          ul.info_primary
            li 4.junifestkonzert

          ul.info_secondary
            li
              p juni-festwocken zürich
              p 1957

            li
              p tonhalle grosser saal
              p dienstag 2.juli 20.15 uhr
              p mittwoch 3.juli 20.15 uhr
              p 1957
              p tonhallegesellschaft zürich
              p leitng carl schuricht
              p solisten
              p maria stader sopran
              p katharina marti alt
              p josef traxel tenor
              p otto von rohr bass
              p gemischter chor zürich
              p beethoven
              p neunte sinfonie in d-moll
              p op. 125

            li
              p karten fr. 5.50 bis 16.50
              p tonhallekasse hug jecklin
              p kuoni

      .poster.poster_2
          .content
            .graphics
              .square
                .blip.blip_black
                .blip.blip_blue
                .blip.blip_yellow
                .blip.blip_red

                .blip.blip_black
                .blip.blip_red
                .blip.blip_blue
                .blip.blip_yellow

                .blip.blip_black
                .blip.blip_yellow
                .blip.blip_red
                .blip.blip_blue

                .blip.blip_black
                .blip.blip_blue
                .blip.blip_yellow
                .blip.blip_red
            .text
              ul.info_primary
                li musica viva

              ul.info_secondary
                li
                  p 19. volkskonzert der
                  p tonhalle-gesellschaft
                  p zürich
                  p dienstag, 5.mai 1959
                  p 20.15 uhr
                  p tonhalle grosser saal

                li
                  p leitung
                  p hans rosbaud
                  p solist
                  p wolfgang marschner

                li
                  p anton von webern
                  p sechs orchester-
                  p stücke, op. 6
                  p arnold schönberg
                  p violinkonzert op.36
                  p alban berg
                  p drei orchesterstücke
                  p op. 6

                li
                  p karten zu fr. 1.-2.3-
                  p tonhalle, hug, jecklin,
                  p kuoni, genossen-
                  p schaftsbuchhandlung

      .poster.poster_3
              .arc_1
                .start
                .end
                .mask.mask_1
                .mask.mask_2

              .arc_2
                .start
                .end
                .mask

              .arc_3
                .start
                .end
                .mask

              .arc_4
                .start
                .end
                .mask

              .arc_5
                .start
                .end

              .arc_6
                .start
                .end

              .arc_7
                .start
                .end

              .text
                .title j.m.brockmann

                ul.info_primary
                  li
                    p tonhalle
                  li
                    p leitung
                    p solist
                  li beethoven
                  li vorverkauf

                ul.info_secondary
                  li
                    p grosser saal
                    p dienstag, den 22, februar 1955,
                    p 20.15 uhr
                    p 4. extrakonzert
                    p der tonhalle-gesellschaft

                  li
                    p carl schuricht
                    p wolfgang schneiderhan

                  li
                    p ouverture zu–coriolan–.op. 62
                    p violinkonzert in d-dur, op. 61
                    p siebente sinfonie in a-dur, op.92

                  li
                    p tonhalle-kasse, hug, jecklin,
                    p kuoni
                    p karten zu fr. 3.50 bit 9.50
